.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/
node_modules/
app/static/src
links
.env
*.pyc
*.db
instance/
migrations/
uploads/
backend_bp/
proxy_bp/
app/utils/s3_service.py
run.py
