{% extends 'base.html' %}
{% block title %}
	Setup
{% endblock %}

{% block content %}

<!-- {% with messages = get_flashed_messages() %}
	{% if messages %}
		<script>alert('{{ messages[0] }}')</script>
	{% endif %}
{% endwith %} -->

<div id="notification-area">
    {% include 'flash_messages.html' %}
</div>

<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto w-full lg:py-0 h-screen">
	<a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
		Breach Route    
	</a>
	<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 max-w-9/20 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
		<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
			<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
				Setup admin panel
			</h1>
			<form class="space-y-4 md:space-y-6" action="#" method="post">
				<div>
					<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Username/Email</label>
					<input type="username" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="username or email" required="">
				</div>
				<div>
					<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
					<input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
				</div>
				<label class="inline-flex items-center cursor-pointer">
					<input type="checkbox" class="sr-only peer" id="toggle-s3-details-div" name="setup_s3" value="enabled">
					<div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600"></div>
					<span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Setup S3 Bucket</span>
				</label>
				<div id="s3-details" tabindex="-1" aria-hidden="true" class="hidden">
					<div class="gap-4 mb-4">
						<label for="provider-type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Provider</label>
						<select id="provider-type" name="provider-type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
							<option selected="" value="">Select Provider</option>
							<option value="aws">AWS S3</option>
							<option value="gcp">Google Storage</option>
							<option value="azure">Azure Blobs</option>
							<option value="digitalocean">Digital Ocean Spaces</option>
							<option value="backblaze">Backblaze S2</option>
						</select>
					</div>
					<div class="grid gap-4 mb-4 sm:grid-cols-2">
						<div class="hidden" id="access-key-div">
							<label for="access_key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Access Key</label>
							<input type="password" name="access_key" id="access_key" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
						</div>
						<div class="hidden" id="secret-key-div">
							<label for="secret_key" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Secret Key</label>
							<input type="password" name="secret_key" id="secret_key" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
						</div>
						<div class="hidden" id="bucket-name-div">
							<label for="bucket_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bucket Name</label>
							<input type="bucket_name" name="bucket_name" id="bucket_name" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter bucket name">
						</div>
						<div class="hidden" id="region-name-div">
							<label for="region_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Region</label>
							<input type="region_name" name="region_name" id="region_name" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter region">
						</div>
					</div>
					<div class="hidden" id="endpoint-url-div">
						<label for="endpoint_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Endpoint URL</label>
						<input type="endpoint_url" name="endpoint_url" id="endpoint_url" class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="https://...">
					</div>
				</div>
  
				<button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Setup</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}